# macOS cruft
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.apdisk
__MACOSX/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.cover
coverage.xml
htmlcov/
.coverage
.hypothesis/
.pytest_cache/
.ruff_cache/
.venv/
.mypy_cache/
.tox/

# Python packaging artifacts
build/
dist/
*.egg-info/
*.egg
pip-wheel-metadata/

# Virtual environment indicators
.env
.env.*
.python-version

# Node / TypeScript
node_modules/
.pnpm-store/
*.log
*.tsbuildinfo
*.swp

# Tool caches
.cache/

# MkDocs static output
site/

# Editors & IDEs
.idea/
.vscode/**
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
```
